<!--HTML page for the Apply to Drive form. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Apply to Drive</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <h1 style="font-family: Arial, sans-serif">Apply to Drive</h1>
    <form id="applyToDriveForm">
      <input type="text" name="username" placeholder="Username" required />
      <p></p>
      <input type="password" name="password" placeholder="Password" required />
      <p></p>
      <input type="text" name="first_name" placeholder="First Name" required />
      <p></p>
      <input type="text" name="last_name" placeholder="Last Name" required />
      <p></p>
      <input
        type="text"
        name="license"
        placeholder="Driver's License Number"
        required
      />
      <p></p>
      <input type="text" name="car_make" placeholder="Car Make" required />
      <p></p>
      <input type="text" name="car_model" placeholder="Car Model" required />
      <p></p>
      <input
        type="text"
        name="car_reg"
        placeholder="Car Registration"
        required
      />
      <p></p>
      <input type="text" name="car_colour" placeholder="Car Colour" required />
      <p></p>
      <input type="email" name="email" placeholder="Email" required />
      <p></p>
      <input type="text" name="mobile" placeholder="Mobile" required />
      <p></p>
      <button type="submit">Submit</button>
    </form>
    <script src="../src/applyToDrive.js"></script>
  </body>
</html>
